@{
    ViewBag.Title = "Nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Bảng nhân viên</h3>
                </div>
                <div class="box-body">
                    <table id="dtable" class="table table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>Tên nhân viên</th>
                                <th>Mail</th>
                                <th>Giới tính</th>
                                <th>Ảnh</th>
                                <th><button type="button" onclick="fnShowModal('0')" class="btn btn-success">Thêm</button></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/js_BackEnd/NhanVien.js"></script>
}
