@{
    Layout = null;
}

<div id="ChiTietHoaDonModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Chi tiết hóa đơn</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Tên khách hàng </div>
                        <div class="profile-info-value">
                            <span id="infoKhachHang"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Số điện thoại </div>
                        <div class="profile-info-value">
                            <span id="infoSoDienThoai"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Địa chỉ </div>
                        <div class="profile-info-value">
                            <span id="infoDiaChi"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Mail </div>
                        <div class="profile-info-value">
                            <span id="infoMail"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Dịch vụ </div>
                        <div class="profile-info-value">
                            <span id="infoDichVu"> </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Số lượng </div>
                        <div class="profile-info-value">
                            <span id="infoSoLuong"> </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Tổng tiền </div>
                        <div class="profile-info-value">
                            <span id="infoTongTien"> </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Nhân viên </div>
                        <div class="profile-info-value">
                            <span id="infoNhanVien"> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







