@{
    Layout = null;
    var obj = ViewData["Obj"] as Model.EF.NhomDV;
    var mode = ViewData["Mode"];
}

<div id="AddandEditDichVuModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Thông tin nhân viên</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form id="frmAddEdit">
                    <input type="hidden" name="mode" id="mode" value="@ViewData["Mode"]" />
                    <div class="form-group">
                        <input class="form-control" id="iID" type="hidden" value="@obj.ID">
                    </div>
                    <div class="form-group">
                        <label>Tên dịch vụ</label>
                        <input type="text" class="form-control" id="iTenDichVu" value="@obj.TenNhom">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button id="bt" type="button" class="btn btn-success" onclick="Save(@obj.ID)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





