
@{
    ViewBag.Title = "Thông tin nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = ViewData["info"] as Model.EF.NhanVien;
    var id = Session["ID"];
}

<div class="col-xs-12 col-sm-3 center">
    <span class="profile-picture">
        <img src="~/Images/@info.Anh" class="editable img-responsive" />
    </span>
</div>
<div class="col-xs-12 col-sm-9">
    <div class="profile-user-info" >
        <div class="profile-info-row">
            <div class="profile-info-name"> Tên nhân viên </div>
            <div class="profile-info-value">
                <span id="infoKhachHang">@info.TenNV</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> Giới tính </div>
            <div class="profile-info-value">
                @if (info.GioiTinh == "Nam")
                {
                    <span id="">Nam</span>
                }
                else
                {
                    <span id="">Nữ</span>
                }
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> Mail </div>
            <div class="profile-info-value">
                <span id="infoKhachHang">@info.Mail</span>
            </div>
        </div>
    </div>
    <div class="space-20"></div>
    <button type="button" class="btn btn-primary btn-app btn-sm" onclick="ShowEditModal(@id)">Chỉnh sửa</button>
</div>
    @section scripts{
        <script src="~/Scripts/js_BackEnd/User.js"></script>
    }

